*{
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color:#7f44de47;
    padding: 5px 20px 15px 20px;
    border:1px solid rgb(211, 211, 211);
    border-radius: 10px;
}
input[type="text"],
input[type="pin code"],
input[type="email"],
input[type="cardnum"],
input[type="cvv"],
input[type="day"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid#ccc;
    border-radius: 5px;
    margin: 10px;
}
fieldset{
    background-color: #fff;
    border: 1px solid#ccc;


}
input[type="submit"]{
    background-color: #4daea1;
    color: white;
    padding: 12px 20px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: #4ca;

}
.ForgetInformation{
    margin: 15px;
    padding: 0px;
   

  
    font-size: 16px;
    color: whitesmoke;
    border-radius: 6px;
    background-color: transparent;
    border: none;
    width: 90px;
    height: 40px;
    color : #ccc;
    border:1px solid whitesmoke


    
    
}